<mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>{{cryptoName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
      <div class="row">
        <div class="col-md-12 d-flex flex-column">
            <div>Average price: {{price}}</div>
            <div>Interval: {{interval}}</div>
        </div>
        <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="'stockChart'"
        [options]="chartOptions"
        class="chart-container">
        </highcharts-chart>
      </div>

        </mat-card-content>
        
</mat-card>
