<div class="login">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form mb-5">
    <div class="login-form">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput formControlName="user" placeholder="User name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </mat-form-field>
    </div>
    <div class="mt-4 d-flex d-flex justify-content-between">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Login
      </button>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="registerAccount()"
      >
        Sign in
      </button>
    </div>
  </form>
</div>
