<div>
    <div class="d-flex">
        <button mat-flat-button color="primary">5min</button>
        <button class="ms-2" mat-flat-button color="primary">10min</button>
        <button class="ms-2" mat-flat-button color="primary">30min</button>
        <button class="ms-2" mat-flat-button color="primary">1h</button>
    </div>

<div class="d-flex flex-wrap justify-content-center">
    <app-info-card *ngFor = "let crypto of infoCards | async"
    [cryptoName] = crypto.cryptoName
    [price] = crypto.price
    [interval] = crypto.interval
    [data] = crypto.data
    ></app-info-card>
</div>
</div>
