<div>
  <div class="d-flex">
    <button class="ms-2" mat-flat-button color="primary" *ngFor="let period of timeRanges | keyvalue" (click)="setDataPeriod(period.key)">{{period.value}}</button>
  </div>
  <div>
    <ul>
      <li *ngFor="let item of trackedPairs">
        {{ item.cryptoCurrencySymbol }}
      </li>
    </ul>
  </div>
  
  <!-- <app-draggable-window (windowOpened)="setNewWindow($event)" draggable="true"></app-draggable-window>
<button (click)="changeColor()">Zmień kolor okna</button> -->
  <div  >
    <app-simple-card *ngFor="let chart of charts | async"
      [title]="chart.title"
    >
      <app-chart content [chartData]="chart.data"></app-chart>      
    </app-simple-card>
  </div>
</div>
